@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600i&display=swap');

:root {
    --fontHead: 'Major Mono Display', monospace;
    --fontBody: 'Montserrat', sans-serif;
    --bg: rgb(250, 243, 231);
    --txt: #232122;
    --other: #F5CA60; 
}

body {
    background-color: var(--other);
    font: var(--txt);
}
.container {
    height: 1500px;
    width: 100%;
    position: relative;
}
header ul {
    height:100%;
}
header> ul li {
    font-family: var(--fontBody);
    text-align: center;
    font-size: 1.5em;
}
header> ul li:first-child {
    font-family: var(--fontHead);
    font-size: 6em;
    text-align: center;
    padding-top: 5em;
}
img {
    width: 50%;
}
i {
    font-size: 36px;
    color: var(--txt);
}
.bennies {
    background-color: var(--bg);
    position: absolute;
    z-index: 20%;
}