@import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

html, body, main{
    height: 100%;
}
:root {
    --fontHead: 'Leckerli One', cursive;
    --fontBody: 'Abel', sans-serif;
    --bg: #faf3e7;
    --txt: #232122;
    --bg2: #F5CA60; 
    --bg3: #f3deba;
}

/* general */
body {
    background-color: var(--bg2);
    color: var(--txt);
    text-align: center;
}
textarea {
    width: 350px;
    height: 50px;
    font-family: var(--fontBody);
    font-size: 1em;
    align-self: right;
}
input {
    font-family: var(--fontBody);
}
i {
    /* font-size: 10px; */
    color: var(--txt);
    float: right;
}




/* landing pg */
.startPg {
    position: relative;
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    height: 100vh;
}
.startPg ul {
    transition: transform 0.3s;
}
.startPg> ul li {
    font-family: var(--fontBody);
    text-align: center;
    font-size: 1.5em;
    padding: 0.3em;
}
.startPg> ul li:first-child {
    font-family: var(--fontHead);
    font-size: 6em;
    text-align: center;
    padding-top:3em;
}
.startPg> ul li:nth-child(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}

.bennies {
    background-color: var(--bg);
}
.bennies h1{
    font-family: var(--fontHead);
    font-size: 2em;
}
.bennies p {
    font-family: var(--fontBody);
    font-size: 1.5em;
}
.bennies> .flipper> .intro {
    position: relative;
}
.bennies> .flipper> .intro ul{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bennies> .flipper> .intro ul li {
    padding:1em;
}
.intro {
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    height: 100vh;
}


/* the foods/ ourBennies section */
*{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0;
}

.scrollspy {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 1em;
    /* padding-left: 37.5em; */
    cursor: pointer;
    /* text-align: center;    */
}

.dot{
    /* cursor: pointer; */
    height: 16px;
    width: 16px;
    /* margin: 0 2px; */
    background-color: white;
    box-shadow: black;
    border-radius: 50%;
    display: inline-block;
    transform: rotate(90deg);
    margin: 2px;
    /* transition: background-color 0.6s ease; */
}

.dot:hover{
    background-color: lightgrey;
}

.current{
    background-color:#F5CA60;
}

.benny_pic{
    background-color: var(--bg2);
    /* display: grid; */
    grid-template-columns: 1fr;
    /* margin: 5em; */
    /* grid-template-areas:
    "a b 0"; */
}

.benny {
    place-self: center;
    width: 69vh;
    border-radius: 5%;
}

.card{
   margin-left: auto;
   margin-right: auto; 
   display: grid;
   padding: 0em 14em 0em 14em;
   height: 100%R;
   scroll-snap-align: start;
}
.ben {
    text-align: center;
    display: grid;
    grid-auto-rows: 100vh; 
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    /* height: 100vh; */
}
/* .ben> section {
    display: grid;
    padding: 2em;
    margin-left: 4em;
    margin-right: 4em;;
    height: 100vh;
    scroll-snap-align: start;
} */
.nameHeart {
    display: grid;
    grid-template-columns: 1fr 0.5fr ;
    padding-left: 10em;
} 
.nameHeart> h1, a{
    place-self: center;
}
.nameHeart> a {
    justify-self: left;
}

.description p{
    font-family: var(--fontBody);
    font-size: 1.5em;
    padding: 1em 5em 1em 3em;
    text-align: center;
}

/* comments and share section */
.comment {
    padding-top: 2em;
    text-align: center;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
}
.comment > form {
    justify-self: right;
    padding-right: 0.5em;
}
.comment > .addComment {
    width: 100px;
    height: 50px;
    font-weight: bold;
    border-radius: 10%;
    font-family: var(--fontBody);
}
.commList ul {
    list-style: none;
}
.commList ul li {
    
    width: 50%;
    background-color: var(--bg3);
    border-radius: 10%;
    font-family: var(--fontBody);
    font-size: 1.2em;
}

.shareThis {
    text-align: center;
    padding-top: 0.5em;;
}
.shareThis ul li {
    padding: 0.5em;
    display: inline-block;
}
.shareThis ul li> a img {
    width: 2em;
}
.bennyHistory {
    height: 100%;
    background-color: #F5CA60;
    position: relative;
}
.bennyHistory> p {
    font-size: 1em;
    place-self: center;
}
.lben {
    width: 80vh;
    justify-self: center;
    padding: 2em;
} 
.fade-in {
    height: 100vh;
    padding: 3em;;
    place-self: center;;
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
}
.fade-in ul li {
    font-family: var(--fontBody);
    font-size: 1.2em;
    padding: 0.5em;
}
.fade-in p {
    font-size: 1.3em;
    padding: 0.5em;
}



/* HOVERABLE MENTIONS and OTHERS;) */
button:hover {
    background-color: var(--bg3);
}
a:link {
    text-decoration: none;
    color: var(--txt);
} 
a:hover {
    text-decoration: underline;
    color: var(--bg3);
}

/* .shareThis ul li> a img:hover {
    transform: rotate(360deg);
} */
