@import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

:root {
    --fontHead: 'Leckerli One', cursive;
    --fontBody: 'Abel', sans-serif;
    --bg: #faf3e7;
    --txt: #232122;
    --bg2: #F5CA60; 
    --bg3: #f3deba;
}

/* general */
body {
    background-color: var(--bg2);
    color: var(--txt);
}
img {
    width: 50%;
}
i {
    color: var(--txt);
}
textarea {
    width: 350px;
    height: 150px;
}
button {
    font-weight: bold;
    padding:0.7em;
    border-radius: 10%;
    font-family: var(--fontBody);
}
input {
    font-family: var(--fontBody);
}


/* landing page */
header {
    position: relative;
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    height: 100vh;
}
header ul {
    transition: transform 0.3s;
}
header> ul li {
    font-family: var(--fontBody);
    text-align: center;
    font-size: 1.5em;
    padding: 0.3em;
}
header> ul li:first-child {
    font-family: var(--fontHead);
    font-size: 6em;
    text-align: center;
    padding-top: 4em;
}
header> ul li:nth-child(3) {
    position: absolute;
    top: 90%;
    left: 50%;
}
textarea {
    font-family: var(--fontBody);
    font-size: 1em;
}

/* intro to bennies */
main {
    background-color: var(--bg);
}
main h1{
    font-family: var(--fontHead);
    font-size: 3.5em;
}
main p {
    font-family: var(--fontBody);
    font-size: 1.5em;
}
main> section> .intro {
    position: relative;
}
main> section> .intro ul{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main> section> .intro ul li {
    padding:1em;
}
/* .flipper {
    transform: scaleY(-1);
    margin: 10em 0;
} */
.flipper {
    padding-bottom: 5em;
}
.intro {
    position: fixed;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    height: 100vh;
}

/* the foods/ ourBennies section */



/* comments and share section */
.comment {
    padding-top: 5em;
    text-align: center;
}
.shareThis {
    text-align: center;
    padding-top: 3em;;
}
.shareThis ul li {
    padding: 1em;
    display: inline-block;
}
.shareThis ul li> a img {
    width: 50px;
}

/* footer */

footer {
    background-color: var(--bg2);
    text-align: center;
    color: var(--txt);
    padding-top: 3em;
}
.subscribe {
    padding: 1em;
    padding-top: 3em;
}
.subscribe> input {
    width: 15%;
    padding:0.7em;
    border-radius: 10%;
}
.socMed> ul> li {
    list-style: none;
    display: inline-block;
    text-align: center;
}
.socMed> ul> li {
    padding: 2em;
}
.siteTerms> ul> li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 2em;
}
.siteTerms> ul>li a {
    color: var(--txt);
    font-family: var(--fontBody);
    font-weight: bold;
}


/* HOVERABLE MENTIONS and OTHERS;) */
button:hover {
    background-color: var(--bg3);
}
a:link {
    text-decoration: none;
    color: var(--txt);
} 
a:hover {
    text-decoration: underline;
    color: var(--bg3);
}
/* .shareThis ul li> a img:hover {
    transform: rotate(360deg);
} */

